
<div class="infoWrapper">
  <h1>{{type}}</h1>
  <p class="infoBox">{{question}}</p>
</div>

<div class="yesButton button">
  {{yesButton}}
</div>

<div class="noButton button">
  {{noButton}}
</div>

<div class="backButton button">
  {{backButton}}
</div>


<div class="enterButton button">
  {{enterButton}}
</div>

<div class="distressButton button">
  {{distressButton}}
</div>
