<p style = "text-align: center"><h3 style = "text-align: center">Send these details? </h3></p>
<p style = "text-align: center">Name: {{ name }}</p>
<p style = "text-align: center">Phone: {{ phone }}</p>
<p style = "text-align: center">Phone: {{ phone }}</p>
<p style = "text-align: center">Time: {{ time }}</p>
<p style = "text-align: center">Location: {{ location }}</p>
